header{
    display: flex;
    background-image: linear-gradient(to top, rgba(0,0,0,0.0),rgba(0, 0, 0,0.8), rgba(0,0,0,1));
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
header nav{
   margin-right: 1rem;
   font-size: 3vw;
}
.title{
    
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #d3b793);
  color: transparent;
  background-clip: text;
    -webkit-background-clip: text;
    margin-left: 2rem;
    font-size: 5vw;
}
body{
    margin: 0rem;
    background-image: url(https://img.freepik.com/free-photo/aesthetic-background-with-abstract-sunset-projector-lamp_53876-103693.jpg?t=st=1724695701~exp=1724699301~hmac=4926dd3cbd96b8ef832a17bc002be5ac3ecd7599e4545c65e12ea32e36a581d4&w=1800);

}
h1{
text-align: center;
font-size: 4rem;
color: azure;
text-shadow: 0 0 4px #000000;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.display h2{
    text-align: center;
    font-size: 4rem;
    color: azure;
    text-shadow: 0 0 4px #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
.display{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4rem;
    border: solid black 0.5rem;
    margin-left: clamp(2rem,23vw,15rem);
    margin-right: clamp(2rem,23vw,15rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: aliceblue;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}
section button{
    margin: 0.25rem;
}
.buttons{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 1.3rem;
    border: solid white 0.2rem;
    border-radius: 30%;
    padding: 0.8rem;

}

.buttons:hover,
.buttons:active{
    background-color: blueviolet;
} 


@media screen and (min-width: 810px){
    .display{
        margin-left: clamp(17rem,10vw,50rem);
        margin-right: clamp(17rem,10vw,50rem);
    }

    
}
@media screen and (min-width: 1100px){
    .display{
        margin-left: clamp(25rem,30rem,35rem);
        margin-right: clamp(25rem,30rem,35rem);
    }

    
}