/* Pridaj tento CSS kód do súboru app.css */
.fade * {
    opacity: 0;
}

.fade.fade-in * {
    opacity: 1;
    transition: opacity 2s;

}


header button{
  width: 3vw;
  height: 3vw;
  border-radius: 100% ;
  border: none; 
  margin-right: 3rem;
  background-color: #70c3e6;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
header button:hover{
  background-color: rgb(180, 195, 207);
  
  
}
header button svg:last-child{
  display: none;
}
header{
    display: flex;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(255, 255, 255,0.8), rgba(255,255,255,1));
    color: aliceblue;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-end-end-radius: 18%;
}

.title{
  font-weight: 600;
  background-image: linear-gradient(to left, #00c8ff, #a7abae);
  color: transparent;
  background-clip: text;
    -webkit-background-clip: text;
    margin-left: 2rem;
    font-size: 4vw;
}
body{
    margin: 0rem;
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg?t=st=1725040578~exp=1725044178~hmac=c867e46de448639eee74148098249ef554f241d87fd0359ae5ddc1b94daff958&w=1800);

}
h1{
margin-top: 1rem;
text-align: center;
font-size: 4rem;
color: azure;
text-shadow: 0 0 4px #000000;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.display h2{
    text-align: center;
    font-size: 8vw;
    color: azure;
    text-shadow: 0 0 4px #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;

    }
.display{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4rem;
    border: solid black 0.5rem;
    margin-left: clamp(2rem,23vw,15rem);
    margin-right: clamp(2rem,23vw,15rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: aliceblue;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}
section button{
    margin: 0.25rem;
}
.buttons{
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    border: solid rgb(0, 0, 0) 0.2rem;
    border-radius: 30%;
    padding: 0.8rem;

}

.buttons:hover,
.buttons:active{
    background-color: rgb(46, 248, 255);
} 

/* responsivity*/

@media screen and (min-width: 810px){
    .display{
        margin-left: clamp(17rem,10vw,50rem);
        margin-right: clamp(17rem,10vw,50rem);
    }

    
}
@media screen and (min-width: 1100px){
    .display{
        margin-left: clamp(25rem,30rem,35rem);
        margin-right: clamp(25rem,30rem,35rem);
    }

    
}


